@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar";

@config "../../tailwind.config.js";

.fadeOut{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}
.fadeIn{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s;
}

@media print {
    nav, footer, .print\:hidden {
        display: none !important;
    }
    main {
        width: 100% !important;
        padding: 0 !important;
    }
}